<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/docs/4.0/assets/img/favicons/favicon.ico" rel="icon">

    <title>Control Panel</title>

    <link href="https://getbootstrap.com/docs/4.0/examples/checkout/" rel="canonical">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="control.css" rel="stylesheet">
</head>
<body class="bg-light text-center">
<div class="container py-5">
    <h1>Control Panel</h1>
    <h3 th:text="${message}"></h3>
</div>
<div class="container">
    <h4><label for="employeeForm">Add employee:</label></h4>
    <form action="/control" id="employeeForm" method="post">
        <!-- hidden null id param so the controller gets its requires id param even if it doesn't use it -->
        <input name="id" type="hidden" value="null"/>
        <input name="salary" type="hidden" value="null"/>

        <!-- create user form -->
        <label for="firstName"><b>First name: </b></label>&nbsp;<input id="firstName" name="firstName"
                                                                       type="text"><br><br>
        <label for="lastName"><b>Last name: </b></label>&nbsp;<input id="lastName" name="lastName" type="text"><br><br>
        <label for="job"><b>Job: </b></label>
        <select id="job" name="job">
            <option value="CLEANER">Cleaner</option>
            <option value="WORKER">Worker</option>
            <option value="MANAGER">Manager</option>
            <option value="BOSS">Boss</option>
        </select>
        <button class="btn btn-primary" name="button" value="create">Create!</button>
    </form>
    <br>
    <table class="table" id="employeeTable" name="employeeTable">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Job</th>
            <th scope="col">Salary</th>
        </tr>
        </thead>
        <tbody>
        <!-- Dynamic form creation for each user using thymeleaf -->
        <tr th:each="employee : ${employees}">
            <form action="/control" method="post">
                <input name="id" th:value="${employee.id}" type="hidden"/>
                <td th:text="${employee.id}"></td>
                <td><input name="firstName" th:value="${employee.firstName}" type="text"/></td>
                <td><input name="lastName" th:value="${employee.lastName}" type="text"/></td>
                <td>
                    <label for="job" th:text="${employee.job}"/>
                    <select name="job">
                        <option th:value="${employee.job}">Select a new job!</option>
                        <option value="CLEANER">Cleaner</option>
                        <option value="WORKER">Worker</option>
                        <option value="MANAGER">Manager</option>
                        <option value="BOSS">Boss</option>
                    </select>
                </td>
                <td><input name="salary" th:value="${employee.salary}" type="text"/></td>
                <td>
                    <button class="btn btn-secondary" name="button" value="modify">Modify!</button>
                </td>
                <td>
                    <button class="btn btn-danger" name="button" value="delete">Delete!</button>
                </td>
            </form>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>